@font-face {
    font-family: 'HanSolo';
    src: url('../fonts/HanSolo/HanSolo.ttf');
}

@font-face {
    font-family: 'Gagalin-Regular';
    src: url('../fonts/Gagalin-Regular/Gagalin-Regular.otf');
}

@font-face {
    font-family: 'GunnyRewritten';
    src: url('../fonts/GunnyRewritten/GunnyRewritten.ttf');
}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../fonts/ClearSans/ClearSans-Bold.ttf');
}

@font-face {
    font-family: 'FiraSans-Black';
    src: url('../fonts/FiraSans/FiraSans-Black.ttf');
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher/Philosopher.otf');
}