.top-slider {
	height: 100vh;
	margin-top: 5px;
	display: flex;
}

.container {
	max-width: 1000px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	video {
		min-width: 100%;
		min-height: 250px;
	}
}

.logo {
	display: flex;
	align-items: center;
	width: 100px;
}

.nav-mnu {
	img {
		width: 40px;
		height: 40px;
		padding-right: 5px;
		display: flex;
		margin: 3px auto;
	}

	padding-top: 10px;
	min-width: 70em;
	display: flex;
	justify-content: space-around;
	align-items: center;

	
	/*.mnu-item {
		display: flex;
		align-items: center;
		padding-left: 15px;
	}*/
}

.top-slider-overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.82;
}

.slider-content {
	position: relative;
	padding-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	color: white;

	h1 {
		text-transform: uppercase;
		margin-top: 5rem;
		position: absolute;
		font-size: 50px;
	}

	p {
		margin-top: 9rem;
		position: absolute;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	.b-register {
		position: absolute;
		margin-top: 13rem;
	}

	.b-login {
		position: absolute;
		margin-top: 16rem;
	}
}

.main-section {
	z-index: 3;
	width: 100%;
	height: 300px;
	box-shadow: 0 -6px 2px -1px rgba(0, 0, 0, .5);
	position: absolute;

	.main-content {
		margin: 0 auto;
		width: 1050px;
	}
}